.bearlist {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.beer {
  margin: 5px;
  background-color: white;
  width: 300px;
  box-shadow: 1px 1px 0px -4px rgba(0, 0, 0, 0.2),
  0px 0px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  &__label {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
  }

  &__title {
    padding: 5px 10px;
    display: flex;
    margin-top: 5px;
    border-bottom: 2px solid lightgray;
    p {
      font-size: 16px;
      margin: 0;
      flex: 1 1 auto;
      font-weight: 600;
      line-height: 30px;
    }
    i {
      cursor: pointer;
      line-height: 30px;
      color: #6200ee;
    }
    i:active {
      background-color: #6200ee;
      color: white;
      padding: 0 3px;
      border-radius: 2px;
    }
  }
  &__info {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 5px;
    font-size: 14px;
    p {
      margin: 0 5px;
      line-height: 30px;
      max-width: 200px;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p:nth-child(2) {
      font-size: 11px;
      font-weight: 600;
    }
    justify-content: space-between;
  }
  &__taste {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 600;
    color: #6200ee;
    p {
      display:flex;
      margin: 0 5px;
      text-transform: uppercase;
    }
    span {
      margin-bottom: 5px;
      line-height: 30px;
    }
    i {
        font-size: 20px;
        line-height: 30px;
        margin-left: 5px;
    }
  }
}
