$dprimary-color: tomato;
$dark-color: #222222;

@mixin mx-spinner-position($width) {
  position: absolute;
  width: $width;
  height: $width;
  left: calc(50% - #{$width/2});
  top: calc(50% - #{$width/2});
}

.spinner {
  @include mx-spinner-position(50px);
  &--overlay {
    background-color: rgba(29, 30, 29, 0.71);
    border-radius: 10%;
  }
  &--rel {
    position: relative;
  }
  &--bg {
    &:before {
      position: absolute;
      content: '';
      box-sizing: inherit;
      top: 20%;
      left: 20%;
      width: 60%;
      height: 60%;
      border-radius: 100%;
      border: 3px solid rgba(0, 0, 0, .1);
    }
  }
  &:after {
    position: absolute;
    content: '';
    box-sizing: inherit;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    animation: spin .6s linear;
    animation-iteration-count: infinite;
    border-radius: 100%;
    border-color: $dprimary-color transparent transparent;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 0 1px transparent;
  }
  &--small {
    @include mx-spinner-position(30px);
    &:after {
      border-width: 2px;
    }
    &:before {
      border-width: 2px;
    }
  }
  &--large {
    @include mx-spinner-position(70px);
    margin-top: -50px;
    &:after {
      border-width: 5px;
    }
    &:before {
      border-width: 5px;
    }
  }
}

.spinnericon {
    display: inline-block;
    margin:0 10px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border:  solid 2px transparent;
    border-top-color:  $dark-color !important;
    border-left-color: $dark-color !important;
    border-radius: 50%;
    animation: spin 400ms linear infinite;
}