.status {
  width: 300px;
  height: 200px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: Roboto, Sans-serif;
  &__icon {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: tomato;
    i {
      display: inline-block;
      font-size: 50px;
      margin: auto;
      color: white;
    }
  }
  &__detail {
    text-align: center;
    p {
      margin-top: 0px;
    }
  }
}