.pagefade-enter {
  opacity: 0;
}
.pagefade-enter.pagefade-enter-active {
  opacity: 1;
  //transition: all 1000ms;
  animation: moveFromBottom .3s ease both;
}
.pagefade-exit {
  opacity: 1;
}
.pagefade-exit.pagefade-exit-active {
  opacity: 0;
  animation: moveToTop .3s ease both;
  //animation: moveFromBottom .3s ease both;
}

@keyframes moveToTop {
	from { transform: translateX(-100%); }
}

@keyframes moveFromBottom {
	from { transform: translateX(100%); }
}

@keyframes spin {
  from {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}