@import 'base';
@import 'util';
@import 'layout';
@import 'module';
@import 'font';
@import 'animation';
.container {
  color: red;
}
.search-card {
  flex-direction: row;
}
.search-card .mdc-text-field{
  flex: 1 1 auto;
}
.search-card .mdc-select {
  margin: 16px 10px 0 10px;
  width: 120px;
}

@media only screen and (max-width: 768px) {
  .search-card {
    flex-direction: column;
  }
  .search-card .mdc-select {
    margin: 10px 0px;
    width: calc(50% - 5px);
  }
  .search-card .mdc-select:nth-child(2) {
    margin-left: 10px;
  }
}